@import url('https://fonts.googleapis.com/css?family={fontFamily}:100,300,400,500,700,900&display=swap');
* {
  font: normal 76px/1 {{fontFamily}}, Helvetica, sans-serif;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.phas-dashboard {
  background-color: {{backgroundColor}};
}

.name {
  color: {{nameColor}};
  font-size: {{nameFontSize}};
}

.objective {
  color: {{objectivesColor}};
  font-size: {{objectivesFontSize}};
}

.conclusion {
  color: {{conclusionColor}};
  font-size: {{conclusionFontSize}};
}

.evidence {
  width: {{evidencePixelSize}}px;
  height: {{evidencePixelSize}}px;
  margin: auto auto;
}

.inactive {
  fill: {{evidenceInactive}};
}

.active {
  fill: {{evidenceActive}};
}

.impossible {
  fill: {{evidenceImpossible}};
}

.strikethrough {
  position: relative;
}

.strikethrough::after {
  border-bottom: {{objectivesStrikethroughSize}} solid {{objectivesStrikethroughColor}};
  content: "";
  left: 0;
  margin-top: calc({{objectivesStrikethroughSize}} / 2 * -1);
  margin-left: -10px;
  margin-right: -10px;
  position: absolute;
  right: 0;
  top: 50%;
}

.svg-container {
  height: auto; 
  padding: 0 0.25rem;
}

.divider-color > * + * {
  border-color: {{dividerColor}} ;
}

.phas-border {
  border-color: {{borderColor}};
  border-width: {{borderWidth}}px;
  border-radius: {{borderRadius}}px;
}

.phas-version {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: grey;
  opacity: 0;
}

.elementToFadeInAndOut {
  opacity: 1;
  animation: fade 5s linear;
  animation-iteration-count: 1;
}

@keyframes fade {
  0%,100% { opacity: 0 }
  30%,70% { opacity: 1 }
}